<script>
  <%# todo: move this somewhere better %>
  document.onreadystatechange = function() {
    console.debug("document.readyState: " + document.readyState);
    <%# if (document.readyState == "interactive") { } %>
    if (document.readyState == "complete") {
      var frame = document.getElementById("frame");
      var font_px = parseFloat(getComputedStyle(frame).fontSize);
      var width = parseInt(window.innerWidth / (font_px / 1.82));
      var width_input = document.getElementById("screen_width");
      width_input.innerText = width;
      width_input.innerHtml = width;
      width_input.value = width;

      console.log("set width to: " + width);
    }
  };
</script>
<div id="tty" data-controller="tty" class="bg-black text-green overflow-x-hidden">
  <div id="frame" class="flex flex-col w-screen h-screen text-xl font-semibold font-mono selection:bg-green selection:text-black">
    <div id="output" class="flex flex-col-reverse grow overflow-y-auto"></div>
    <div class="flex grow-none flex-row">
      <div id="ps1"></div>
      <%= form_with url: flie_o_os_logs_path(flie_o.id), html: {class: "flex grow ml-[1rem]", "data-tty-target": "form"} do |form| %>
        <%= form.hidden_field :screen_width %>
        <input type="text" id="os_log_in" name="os_log[in]" class="grow focus:outline-none" spellcheck="false" autocomplete="off" autofocus></input>
      <% end %>
    </div>
  </div>
</div>
